__pycache__
.venv
venv/
files
template


output/
.claude
.vscode

*.pt
*.pth
*.pth.tar
service/tampering/weights/

service/tampering/output/*
!service/tampering/output/.gitkeep
service/tampering/test_output/
service/tampering/test_output_eval/
service/preprocessor/output/*
!service/preprocessor/output/.gitkeep
service/ocr/output/*
!service/ocr/output/.gitkeep

.dockerignore
docker-compose.yml
Dockerfile

DotsOCR/

qdrant_storage/

tmp/
